agents/tof_service/build/
frontend/dist
log
notes.*
.vagrant
__pycache__
/.env
*.tar.gz
.debug_env

backend/backend/service/file_converter_config/test.yaml
.vscode/extensions.json
.vscode/tasks.json
backend/notebooks/profile_fitting.py
backend/profile_master.austin
.ipynb_checkpoints
