@use "sass:color";

// Import Bulma's core
@import "../node_modules/bulma/sass/utilities/_all.sass";

// Karsa colors
$moss-green: #425634;
$moss-green-light: #94aa83;
$burgundy-red: #600b18;
$burgundy-red-light: #ce6175;
$magenta: #f83260;
$magenta-light: #fdbcce;
$orange: #f1613c;
$orange-light: #facfc2;
$cool-grey: #464752;
$cool-grey-light: #b0b1ba;
$cool-grey-lighter: color.scale($cool-grey-light, $lightness: +30%);
$warm-grey: #c9c8b9;
$warm-grey-light: #e4e3db;
$light-blue: #e4e5f4;

// Cool grey shades
$cool-grey-0: color.scale($cool-grey, $lightness: -50%);
$cool-grey-1: color.scale($cool-grey, $lightness: -40%);
$cool-grey-2: color.scale($cool-grey, $lightness: -30%);
$cool-grey-3: color.scale($cool-grey, $lightness: -20%);
$cool-grey-4: color.scale($cool-grey, $lightness: -10%);

// Set your colors
$primary: $moss-green-light;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$success: #86b758;
$success-light: findLightColor($success);
$success-dark: findDarkColor($success);
$success-invert: findColorInvert($success);

$danger: #f8054a;
$danger-light: findLightColor($danger);
$danger-dark: findDarkColor($danger);
$danger-invert: findColorInvert($danger);

$info: $light-blue;
$info-light: findLightColor($info);
$info-dark: findDarkColor($info);
$info-invert: findColorInvert($info);

$warning: $orange;
$warning-light: findLightColor($warning);
$warning-dark: findDarkColor($warning);
$warning-invert: findColorInvert($warning);

$notification: $cool-grey;
$notification-light: $cool-grey-light;
$notification-dark: $cool-grey-2;
$notification-invert: $cool-grey-lighter;

// webkit scrollbars
::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #454752;
}

// Workspace tile
.base-tile {
  height: 200px;
  width: 200px;
  margin: 10px;
  background-color: $cool-grey;
}
.tile-card-header {
  @extend .card-header;
  background-color: $cool-grey-2 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.tile-card-header-title {
  @extend .card-header-title;
  color: $cool-grey-light !important;
}
.tile-card-content {
  @extend .card-content;
  color: $cool-grey-light;
}

// Button
$button-background-color: $cool-grey-light;
$button-hover-color: $moss-green;
$button-hover-border-color: $moss-green-light;

// Page
$body-background-color: $cool-grey-0;
$dropdown-content-background-color: $cool-grey-light;

// Text
$dropdown-item-color: black;
// $family-primary: sans-serif;
$label-color: $warm-grey-light;
$table-color: white;
$text: white;
$title-color: white;
$subtitle-color: white;

// Modal
$modal-card-head-background-color: inherit;
$modal-card-body-background-color: inherit;

// Notification

.message.is-notification {
  background-color: rgba($notification, 0.9) !important;
  animation: fadeIn 0.5s forwards;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  z-index: 2000;
}

.message.is-notification.is-closing {
  animation: fadeOut 0.5s;
}
.message.is-notification.in-development {
  width: 500px;
}
.message.is-notification.is-submitted {
  background-color: rgba($success, 0.9) !important;
}
.message.is-notification.is-error {
  background-color: rgba($danger, 0.9) !important;
}

// Table
$table-background-color: $cool-grey-2;
$table-color: $cool-grey-lighter;
$table-cell-border: 1px solid $cool-grey;
$table-head-cell-color: $cool-grey-light;
$table-head-background-color: $cool-grey-3;
$table-row-hover-background-color: $cool-grey-4;
.base-browser-row-focused {
  background: $burgundy-red-light;
}
.base-browser-row-fully-selected {
  background: $burgundy-red;
}
.base-browser-row-partially-selected {
  background: $burgundy-red;
}

// Input
$input-color: black;
$input-border-color: transparent;
$input-background-color: $cool-grey-light;
$input-disabled-background-color: $cool-grey-4;
$input-disabled-border-color: transparent;

// Progress bar
$progress-bar-background-color: $cool-grey-light;

.notification-progress-bar {
  padding-top: 10px;
}

// Signal modal styles

// Comment text input
.comment-input textarea {
  background-color: $cool-grey-0 !important;
  color: white !important;
  border-color: transparent !important;
}

// Intensity Yaxis input
.intensity-container {
  position: absolute;
  top: 2px;
  left: 28px;
  z-index: 1000;
  width: 114px;
}

.intensity-input input {
  background-color: rgba($cool-grey-2, 0.8);
  color: rgba(white, 0.7);
  font-size: 12px;

  &::placeholder {
    color: white;
    opacity: 0.4;
  }
}

// Isotope rating range input
input[type="range"] {
  -webkit-appearance: none;
  width: 20%;
  margin: 5px 20px 5px 20px;
  height: 8px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    $notification-dark 0%,
    $notification 25%,
    $notification-light 50%,
    $moss-green-light 75%
  );
  outline: none;

  // Slider thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--thumb-color, $moss-green-light);
    cursor: pointer;
    z-index: 2;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--thumb-color, $moss-green-light);
    cursor: pointer;
    transition: background 0.2s;
  }
}

// Isotopes table in the checklist
.isotopes-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0 20px 0;
  color: white;
  border: 1px solid $cool-grey;

  th,
  td {
    padding: 8px 12px;
    border: 1px solid $cool-grey;
    text-align: left;
  }

  thead {
    background-color: $cool-grey-2;
    th {
      color: white;
    }
  }
}

.failed-filters ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black,
  ),
  "black": (
    $black,
    $white,
  ),
  "light": (
    $light,
    $light-invert,
  ),
  "dark": (
    $dark,
    $dark-invert,
  ),
  "primary": (
    $primary,
    $primary-invert,
    $primary-light,
    $primary-dark,
  ),
  "link": (
    $link,
    $link-invert,
    $link-light,
    $link-dark,
  ),
  "info": (
    $info,
    $info-invert,
    $info-light,
    $info-dark,
  ),
  "success": (
    $success,
    $success-invert,
    $success-light,
    $success-dark,
  ),
  "warning": (
    $warning,
    $warning-invert,
    $warning-light,
    $warning-dark,
  ),
  "danger": (
    $danger,
    $danger-invert,
    $danger-light,
    $danger-dark,
  ),
  "notification": (
    $notification-dark,
    $notification-light,
    $notification,
    $notification-invert,
  ),
);

// Define animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/buefy/src/scss/buefy.scss";
