include karsaorbi/lib/*
include karsaorbi/lib/dlls/*
include karsaorbi/lib/doc/*
include karsatof/lib/*
include karsatof/lib/dlls/linux_x86_64/*
include karsatof/lib/dlls/macos_i386/*
include karsatof/lib/dlls/macos_universal/*
include karsatof/lib/dlls/macos_x86_64/*
include karsatof/lib/dlls/windows_x64/*
include karsatof/lib/dlls/windows_x86/*
include karsavlm/msAlign/*
include karsavlm/msspectrum/*
include karsavlm/msspectrum/preprocessing/*





