
/* LAYOUT */

.box:not(:last-child), .content:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .table:not(:last-child), .table-container:not(:last-child), .title:not(:last-child), .subtitle:not(:last-child), .block:not(:last-child), .highlight:not(:last-child), .breadcrumb:not(:last-child), .level:not(:last-child), .list:not(:last-child), .message:not(:last-child), .tabs:not(:last-child) {
    margin-bottom: 0rem;
}

.loading-overlay .loading-background {
  background-color: rgba(0, 0, 0, 0.7);
}

/* COMPONENTS */

.button:focus{
    outline: none;
} 

a.dropdown-item.is-active, .dropdown .dropdown-menu .has-link a.is-active, button.dropdown-item.is-active {
    background-color: #fff;
}

/* material design icons */

.icon > .mdi {
  color: #fff;
}

.mdi-flattr{
    -webkit-animation: mdi-spin 2s infinite linear;
    animation: mdi-spin 2s infinite linear;
}

/* tables */ 

.table-wrapper{
    overflow: scroll; 
    overflow: auto !important; 
}
.table-wrapper:not(:last-child) {
    margin-bottom: 0.5rem;
}

.b-table .level:not(.top) {
    padding-bottom: 0rem;
}

.table {
  background-color: transparent;
  color: inherit;
  font-size: 15px;
}

.table:focus {
  outline: none;
}

.table th {
  background-color: transparent;
}

.b-table .table-wrapper.has-sticky-header tr:first-child th {
  background-color: #29282e;
}

.table tr.is-selected {
  background-color: #7c5bd6;
  color: black;
}

.table thead {
  background-color: inherit;
}

.table thead td:hover,
.table thead th:hover {
  color: #666;
}

.table tr:hover {
  color: black;
  background-color: white;
}

th > input {
  color: #dfdfdf;
}

.table thead td,
.table thead th {
  color: inherit;
}

.b-table .table-wrapper.has-sticky-header tr:first-child th {
  background-color: inherit;
}

#data-table,
#target-table {
  overflow: hidden;
  border: 1px solid #a7a7a7;
  margin-bottom: 10px;
}

.tr.is-dark {
  background: #167df0;
  color: #fff;
}

/* radio */

.b-radio.radio {
    align-items: end;
    margin-top: 0.5px;
}

/* checkbox */

.b-checkbox.checkbox input[type="checkbox"] + .check {
  /* border-color: #7957d5; */
  box-shadow: 0 0 0.5em rgba(122, 122, 122, 0.8);
}
.b-checkbox.checkbox input[type="checkbox"]:checked {
  background: #7957d5;
  border-color: #7957d5;
}
.b-checkbox.checkbox[disabled] input[type="checkbox"] {
  background: #7a7a7a;
  box-shadow: none;
}

/* card */

.card{
    background-color: #29282e; 
    border: 1px solid #a7a7a7;; 
    border-radius: 5px;
    margin-bottom: 5px; 
    color: #fff; 
}
.card-header-title{
    color: #fff; 
}
.card-header{
    border-bottom: 1px solid #fff; 
    background-color: #151418;
}
.card-content{
    padding: 0px;
}
.card-header-title{
    font-size: medium; 
}

/* modals */

.modal-card {
  color: #666;
}

.modal-card-body {
  max-height: 800px;
  overflow: auto !important;
}

/* content */

.content ul {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}

.content h1{
    color: #fff;
    font-weight: normal;
    font-size: medium; 
}

.content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) {
    margin-bottom: 0em;
}

.content table thead td, .content table thead th {
    border-width: 0 0 2px;
    color: #fff;
}

/* acquisition */

.acquisition-parameters-h1{
    padding-left: 2%;
    padding-top: 10px;
}


/* disable user select */

.label, .gl-container, span, label {
  user-select: none;
}

.modebar, .modebar--hover, .ease-bg {
  user-select: none;
}

/* labels */

.label {
  display: block;
  font-size: 0.8rem;
  user-select: none;
  cursor: default;
  color: #fff;
}

.label:not(:last-child) {
  margin-bottom: 0px;
  margin-top: 1em;
}

/* hover effects */

.icon:hover > mdi {
  color: #414242;
}

.mdi:hover {
  color: #414242;
}

.icon:hover > span {
  color: rgb(94, 94, 94);
}

.button:hover {
  color: #fff;
}

/* id params */

.idparams-edit-body > .b-tabs {
  overflow: hidden;
}

/* ------------------------ */

.spec-stack-holder{
    margin-top:0px;
    margin-right:0rem; 
    border:1px solid #a7a7a7;; 
    border-radius: 5px; 
    min-height:400px;
}

ul {
  list-style: none;
}
