
/* tabs */

.b-tabs .tabs {
  background-color: #29282e;
}

.tabs a {
  color: #ffffff;
  padding: 0.5em 1em;
  font-weight: bold;
}

.b-tabs .tab-content {
  padding: 5px;
}

.tabs-main {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.tab-item {
  flex: auto auto;
  padding: 0em 0em 0em 0em;
}

.tab-content {
  display: flex;
}