.chart {
  border: 1px solid #a7a7a7;
  border-radius: 5px;
  min-height: 482px;
  padding: 1em;
  margin: 1em 0.5em 1em 0.5em;
}

.tps-multiselect {
  /* border:1px solid #a7a7a7;;  */
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  margin-bottom: 15px;
}

.ytick,
.xtick {
  font-size: 0.3rem;
  user-select: none;
}
