server {
  listen 80 default_server;
  listen [::]:80 default_server;

  root /var/www/mascope.com/production;

  index index.html;

  server_name mascope.com www.mascope.com;

  location / {
    try_files $uri $uri/ =404;
  }
}
